# This will usually be 0
ACC_START_INDEX=0
# You can set this number depending on the count of the validators you want to start. (Ex: if you want to start 64 validators this will be 63)
ACC_END_INDEX=1
DEPOSIT_AMOUNT=32000000000
FORK_VERSION=0x01017000
# Mnemonics generated for validator keys
VALIDATORS_MNEMONIC="eager skate rabbit coffee path guitar siren record argue day iron picture emerge amateur bunker author acid kitten crawl young vague category potato cushion"
# Mnemonics generated for withdrawal
WITHDRAWALS_MNEMONIC="naive snack dice discover bottom fox soon fun vacant bird there artwork round apart denial sister skin pact slush tennis slush sick spatial swift"
# Relative/Absolute file path for the buff
DEPOSIT_DATAS_FILE_LOCATION=

DEPOSIT_CONTRACT_ADDRESS=0x4242424242424242424242424242424242424242
# Public address of wallet which holds testETH
ETH1_FROM_ADDR=0x8aC112a5540f441cC9beBcC647041A6E0D595B94
# Private key of the wallet which holds testETH
ETH1_FROM_PRIV=0x6e7b8ba6af90cfb31c9593ebc87c88d225de867a62c282bea4b7a02dbbc6ffa3
FORCE_DEPOSIT=true
# Keep it empty for now
ETH1_NETWORK=